{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
<script src="{% static 'fakeit/script.js' %}"></script>

<img src= "{% static 'graphs/votes.png'%}" frameborder="0" scrolling="no" id="{{ graph }}">

<form method="post" action="{% url 'fakeit:index' %}">
    {% csrf_token %}
    <select class="select-css" name="paramPartido" id="paramPartido">
        {% for partido in partidos %}
            <option value="{{ partido }}">{{ partido }}</option>
        {% endfor %}
    </select>
    <input type="range" name="parametro_spinner" id="parametro_spinner" value="0" min="0" max="100" step="0.5" width="300px">
    <output id="vSpinner"></output> %
    <button type="submit"> Trucar </button>
</form>